<div>
	<%= form_with(model: @shop, url:public_shop_path(@shop), local: true) do |f| %>
	<%= f.attachment_field :image, placeholder: "画像", class: "" %>
    <%= f.submit "投稿", class: "" %>
    <% end %>
</div>