          <h2 class="main-title">shop一覧</h2>

          <div>
            <% @shops.each do |shop| %>
              <div class="card">
              	<%= shop.name %>
              	<%= shop.food %>
              </div>
            <% end %>
          </div>