<h1>ログインのリンク、サインインのリンク、簡単ログインのリンク</h1>
<span class="btn btn-default navbar-btn">
     <%= link_to 'サインアップ', new_user_registration_path %>
</span>
<span class="btn btn-default navbar-btn">
     <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
</span>
<span class="btn btn-default navbar-btn">
     <%= link_to 'ログイン', new_user_session_path %>
</span>
<span class="btn btn-default navbar-btn">
     <%= link_to '簡単ログイン（ポートフォリオ用）', public_users_guest_sign_in_path, method: :post %>
</span>

