<div>
	<%= attachment_image_tag @user, :image, format: 'jpeg', size: "300x200", fallback: "no_image.jpg" %>
</div>
<h1>宗教</h1>
<h1>アレルギー</h1>
<h1>嫌いな食べ物</h1>
<h1>好きな食べ物</h1>
<h1>食の好み</h1>

<li><%= link_to 'EDIT', edit_public_user_path(current_user.id) %></li>